body {
    font-family: Arial, sans-serif;
    background-color: #c4bcbcd7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.container {
    background: rgba(241, 240, 240, 0.932);
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1 {
    text-align: center;
}
.form-group {
    margin-bottom: 15px;
}
input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #466397;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #62b366;
}
.error {
    color: red;
    font-size: 12px;
}
